{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="flex-inline">
                <div class="heading-small-v-2">Tambah Data</div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <form action="" method="POST" id="add_billing_address_form" class="add_billing_address_form">
                {% csrf_token %}
                    <div class="mb-3">
                        {{ form.user|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.proyek|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</div>

{% endblock %}

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>


{% block extra_jscript %}
{% endblock %}
