{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-4">
			<h4>Tabel CPM</h4>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tambah_kegiatan' %}" class="add_cart"><i class="fa fa-plus" aria-hidden="true"></i> Tambah Kegiatan</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_estimasi_waktu' %}" class="add_cart"><i class="fa fa-plus" aria-hidden="true"></i> CPM</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_estimasi_waktu' %}" class="add_cart"><i class="fa fa-plus" aria-hidden="true"></i> Tambah PERT</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_estimasi_waktu' %}" class="add_cart"><i class="fa fa-plus" aria-hidden="true"></i> Estimasi Waktu</a>
			</div>
		</div>

		<div class="col-lg-10 col-md-10 col-sm-8">
			<form method="post" action="">
			{% csrf_token %}
				<table id="t_add_row" class="table table-striped table-bordered">
					<thead class="thead_light">
						<tr>
							<th class="text-center">{% trans "ID" %}</th>
							<th class="text-center">{% trans "Nama Kegiatan" %}</th>
							<th class="text-center">{% trans "Kode" %}</th>
							<th class="text-center">{% trans "Predecessor" %}</th>
							<th class="text-center">{% trans "Hubungan Keterkaitan" %}</th>
							<th class="text-center">{% trans "Bobot Kegiatan" %}</th>
							<th class="text-center">{% trans "Biaya Kegiatan" %}</th>
							<th class="text-center">{% trans "Durasi" %}</th>
							<th class="text-center">{% trans "Standar Deviasi" %}</th>
							<th class="text-center">{% trans "Varians Kegiatan" %}</th>
					</thead>
					<tbody>
						{% for item in data_kegiatan %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.nama_kegiatan }}</td>
							<td>{{ item.kode }}</td>
							<td>{{ item.predecessor }}</td>
							<td>{{ item.hubungan_keterkaitan }}</td>
							<td>{{ item.bobot_kegiatan }}</td>
							<td>{{ item.biaya_kegiatan }}</td>
							<td>{{ item.duration|floatformat:0 }}</td>
							<td>{{ item.standar_deviasi|floatformat:2 }}</td>
							<td>{{ item.varians_kegiatan|floatformat:2 }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>

{% endblock %}


{% block extra_jscript %}
{% endblock %}
