{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <h4>Tambah PERT</h4>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <form action="" method="POST" id="add_billing_address_form" class="add_billing_address_form">
                {% csrf_token %}
                    <div class="mb-3">
                        {{ form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</div>

{% endblock %}

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>


{% block extra_jscript %}
<script type="text/javascript">
$(document).ready(function()
{
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method)
    {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup(
    {
        beforeSend: function(xhr, settings)
        {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain)
            {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
    });

    $('#id_tabel_estimasi_waktu_a').change(function()
    {
        var tabel_estimasi_waktu_a = $(this).val();

        console.log("tabel_estimasi_waktu_a", tabel_estimasi_waktu_a);

        $.ajax(
        {
            url: '',
            method: 'POST',
            data: {
                tabel_estimasi_waktu_a,
            },
            success: function(data)
            {
                console.log(id_tabel_estimasi_waktu_a);
            }
        })
    })


    $('select#id_kegiatan').change(function()
    {
        // var get_select = $(this).find(":selected").text();
        var get_select = $(this).find(":selected").val();

        // console.log("get_select", get_select);

        if ($(this).find('option:selected'))
        {
            $.ajax(
            {
                // url: '',
                url: '/kegiatan/estimasi-waktu/?get_select=' + get_select,
                method: 'GET',
                data: {
                    get_select,
                },
                success: function(data)
                {
                    console.log(get_select);
                    // $("#id_nama_kegiatan").val(get_select);
                }
            })
        }
    })
});
</script>
{% endblock %}

