{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-4">
			<h4>Tabel CPM</h4>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_kegiatan' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel Kegiatan</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_pert' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel PERT</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_schedule' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel Schedule</a>
			</div>
		</div>

		<div class="col-lg-10 col-md-10 col-sm-8">
			<form method="POST" action="">
			{% csrf_token %}
				<table id="t_add_row" class="table table-striped table-bordered">
					<thead class="thead_light">
						<tr>
							<th class="text-center">{% trans "ID" %}</th>
							<th class="text-center">{% trans "Nama Kegiatan" %}</th>
							<th class="text-center">{% trans "Kode" %}</th>
							<th class="text-center">{% trans "Predecessor" %}</th>
							<th class="text-center">{% trans "Durasi" %}</th>
							<th class="text-center">{% trans "ES" %}</th>
							<th class="text-center">{% trans "EF" %}</th>
							<th class="text-center">{% trans "LS" %}</th>
							<th class="text-center">{% trans "LF" %}</th>
							<th class="text-center">{% trans "Lintasan" %}</th>
					</thead>
					<tbody>
						{% for item in data_kegiatan %}
						<tr>
							<td class="text-center">{{ item.id }}</td>
							<td>{{ item.kegiatan|default_if_none:"" }}</td>
							<td class="text-center">{{ item.kode|default_if_none:"" }}</td>
							<td class="text-center">{{ item.predecessor|default_if_none:"" }}</td>
							<td class="text-center">{{ item.duration|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.earliest_start|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.earliest_finish|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.latest_start|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.latest_finish|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.critical|default_if_none:"" }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<div class="row"><br /></div>
</div>

{% endblock %}


{% block extra_jscript %}
{% endblock %}
