{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-4">
			<h4>Tabel PERT</h4>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_kegiatan' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel Kegiatan</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_cpm' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel CPM</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_schedule' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel Schedule</a>
			</div>
		</div>

		<div class="col-lg-10 col-md-10 col-sm-6">
			<form method="POST" action="">
			{% csrf_token %}
				<table id="t_add_row" class="table table-striped table-bordered">
					<thead class="thead_light">
						<tr>
							<th class="text-center">{% trans "ID" %}</th>
							<th class="text-center">{% trans "Jenis Kegiatan" %}</th>
							<th class="text-center">{% trans "Optimistic Time" %}</th>
							<th class="text-center">{% trans "Most Likely Time" %}</th>
							<th class="text-center">{% trans "Pessimistic Time" %}</th>
							<th class="text-center">{% trans "Duration" %}</th>
							<th class="text-center">{% trans "Duration (Round)" %}</th>
							<th class="text-center">{% trans "Standar Deviasi" %}</th>
							<th class="text-center">{% trans "Varians Kegiatan" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for item in pert_data %}
						<tr>
							<td class="text-center">{{ item.id }}</td>
							<td>{{ item.kegiatan }}</td>
							<td class="text-center">{{ item.optimistic_time|floatformat:0 }}</td>
							<td class="text-center">{{ item.most_likely_time|floatformat:0 }}</td>
							<td class="text-center">{{ item.pessimistic_time|floatformat:0 }}</td>
							<td class="text-center">{{ item.duration|floatformat:2 }}</td>
							<td class="text-center">{{ item.duration|floatformat:0 }}</td>
							<td class="text-center">{{ item.standar_deviasi|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.varians_kegiatan|floatformat:2|default_if_none:"" }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Standar Deviasi Kejadian (S): {{ standar_deviasi_kejadian|floatformat:2|default_if_none:"" }}</td>
							<td>Varians Kejadian (V(Te)): {{ varians_kegiatan.varians_kegiatan__sum|floatformat:2|default_if_none:"" }}</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>

{% endblock %}


{% block extra_jscript %}
{% endblock %}
