{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-4">
			<h4>Daftar Estimasi Biaya</h4>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-4">
			<div class="link-tiles">
				<a href="{% url 'kegiatan:estimasi_biaya' %}" class="add_menu"><i class="fa fa-plus" aria-hidden="true"></i> Estimasi Biaya</a>
			</div>
		</div>

		<div class="col-lg-10 col-md-10 col-sm-6">
			<table id="t_add_row" class="table table-striped table-bordered">
				<thead class="thead_light">
					<tr>
						<th class="text-center">{% trans "ID" %}</th>
						<th class="text-center">{% trans "Jenis Kegiatan" %}</th>
						<th class="text-center">{% trans "Biaya" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for item in data_biaya %}
					<tr>
						<td class="text-center">{{ item.id }}</td>
						<td>{{ item.kegiatan }}</td>
						<td class="text-center">{{ item.estimasi_biaya }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}


{% block extra_jscript %}
{% endblock %}
