{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-4">
			<h4>Tabel Schedule</h4>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_kegiatan' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel Kegiatan</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_pert' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel PERT</a>
			</div>
			<div class="link-tiles">
				<a href="{% url 'kegiatan:tabel_cpm' %}" class="add_menu"><i class="fa fa-check" aria-hidden="true"></i> Tabel CPM</a>
			</div>
		</div>

		<div class="col-lg-10 col-md-10 col-sm-8">
			<form method="post" action="">
			{% csrf_token %}
				<table id="t_add_row" class="table table-striped table-bordered">
					<thead class="thead_light">
						<tr>
							<th class="text-center">{% trans "Minggu Ke" %}</th>
							<th class="text-center">{% trans "Progress Rencana" %}</th>
							<th class="text-center">{% trans "Progress Actual" %}</th>
							<th class="text-center">{% trans "ACWP" %}</th>
							<th class="text-center">{% trans "BCWP" %}</th>
							<th class="text-center">{% trans "BCWS" %}</th>
							<th class="text-center">{% trans "CV" %}</th>
							<th class="text-center">{% trans "CPI" %}</th>
					</thead>
					<tbody>
						{% for item in schedule_data %}
						<tr>
							<td class="text-center">{{ item.minggu|default_if_none:"" }}</td>
							<td class="text-center">{{ item.progress_rencana|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.progress_aktual|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.acwp|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.bcwp|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.bcws|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.cost_variance|floatformat:2|default_if_none:"" }}</td>
							<td class="text-center">{{ item.cost_performance_index|floatformat:5|default_if_none:"" }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total: {{ sum_cpi|floatformat:5|default_if_none:"" }}</td>
						</tr>
					</tbody>
				</table>
			</form>
			<div class="btn-group">
				<a href="{% url 'kegiatan:tambah_schedule' %}"><button type="submit" class="btn btn-primary">Tambah Schedule</button></a>
			</div>
		</div>
	</div>
	<div class="row"><br /></div>
</div>

{% endblock %}


{% block extra_jscript %}
{% endblock %}
