<!-- hero section start -->
<section class="hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 schedule-home-collection">
				<div class="schedule-home-card"  data-aos="fade-right" data-aos-duration="1000">
					<div class="region region-schedule-home-collection">
						<div id="block-webform-5" class="block block-webform block-webform-block">
							<form action="/" method="POST" class="webform-submission-form webform-submission-add-form webform-submission-schedule-a-home-collection-form webform-submission-schedule-a-home-collection-add-form js-webform-disable-autosubmit js-webform-details-toggle webform-details-toggle" id="webform-submission-schedule-a-home-collection-add-form">
								<h3>Please fill OTP</h3>
								<p>We have just sent you an OTP on<span class="example-number">8968306095</span></p>
								<div data-webform-key="please_fill_otp" id="edit-please-fill-otp" class="js-form-wrapper form-wrapper">
									<div id="otp1_table">
										<div id="edit-otp1" class="js-form-item form-item js-form-type-webform-multiple form-type-webform-multiple js-form-item-otp1 form-item-otp1 form-no-label">
											<div class="webform-multiple-table webform-multiple-table-responsive">
												<table id="edit-otp1-items" class="responsive-enabled" data-striping="1">
													<thead>
														<tr>
															<th colspan="1"><span class="visually-hidden">OTP1</span></th>
														</tr>
													</thead>
													<tbody>
														<tr class="odd">
															<td>
																<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-otp1-items-0--item- form-item-otp1-items-0--item- form-no-label">
																	<label for="edit-otp1-items-0-item-" class="visually-hidden">OTP1</label>
																	<input class="custom-otp-options js-webform-input-mask form-text" autocomplete="off" data-inputmask-mask="9 = numeric" type="text" id="edit-otp1-items-0-item-" name="otp1[items][0][_item_]" value="" size="60" maxlength="1" />
																</div>
															</td>
														</tr>
														<tr class="even">
															<td>
																<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-otp1-items-1--item- form-item-otp1-items-1--item- form-no-label">
																	<label for="edit-otp1-items-1-item-" class="visually-hidden">OTP1</label>
																	<input class="custom-otp-options js-webform-input-mask form-text" autocomplete="off" data-inputmask-mask="9 = numeric" type="text" id="edit-otp1-items-1-item-" name="otp1[items][1][_item_]" value="" size="60" maxlength="1" />
																</div>
															</td>
														</tr>
														<tr class="odd">
															<td>
																<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-otp1-items-2--item- form-item-otp1-items-2--item- form-no-label">
																	<label for="edit-otp1-items-2-item-" class="visually-hidden">OTP1</label>
																	<input class="custom-otp-options js-webform-input-mask form-text" autocomplete="off" data-inputmask-mask="9 = numeric" type="text" id="edit-otp1-items-2-item-" name="otp1[items][2][_item_]" value="" size="60" maxlength="1" />
																</div>
															</td>
														</tr>
														<tr class="even">
															<td>
																<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-otp1-items-3--item- form-item-otp1-items-3--item- form-no-label">
																	<label for="edit-otp1-items-3-item-" class="visually-hidden">OTP1</label>
																	<input class="custom-otp-options js-webform-input-mask form-text" autocomplete="off" data-inputmask-mask="9 = numeric" type="text" id="edit-otp1-items-3-item-" name="otp1[items][3][_item_]" value="" size="60" maxlength="1" />
																</div>
															</td>
														</tr>
														<tr class="odd">
															<td>
																<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-otp1-items-4--item- form-item-otp1-items-4--item- form-no-label">
																	<label for="edit-otp1-items-4-item-" class="visually-hidden">OTP1</label>
																	<input class="custom-otp-options js-webform-input-mask form-text" autocomplete="off" data-inputmask-mask="9 = numeric" type="text" id="edit-otp1-items-4-item-" name="otp1[items][4][_item_]" value="" size="60" maxlength="1" />
																</div>
															</td>
														</tr>
														<tr class="even">
															<td>
																<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-otp1-items-5--item- form-item-otp1-items-5--item- form-no-label">
																	<label for="edit-otp1-items-5-item-" class="visually-hidden">OTP1</label>
																	<input class="custom-otp-options js-webform-input-mask form-text" autocomplete="off" data-inputmask-mask="9 = numeric" type="text" id="edit-otp1-items-5-item-" name="otp1[items][5][_item_]" value="" size="60" maxlength="1" />
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="description">
												<div id="edit-otp1--description" class="webform-element-description">
													<div class="resend-otp1">
														<a class="use-ajax" href="/shcresend-otp/" id="resend-otp">Resend OTP</a>:
														<div id="timer">39</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions">
									<input formnovalidate="formnovalidate" class="webform-button--previous change-mobile-no-home button js-form-submit form-submit" type="submit" id="edit-actions-wizard-prev" name="op" value="Change Phone Number" />
									<input class="webform-button--submit submit-button-home button button--primary js-form-submit form-submit" type="submit" id="edit-actions-submit" name="op" value="Submit" />
								</div>
								<input autocomplete="off" type="hidden" name="form_build_id" value="form-MDZgM_VhmIy-x1TLWAJoY9rTHpsFaDC1yeDpN4LuwNI" />
								<input type="hidden" name="form_id" value="webform_submission_schedule_a_home_collection_add_form" />
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12" >
				<div class="flexslider23" id="hero-slider44" data-aos="fade-left" data-aos-duration="1000">
					<div class="region region-home-slider">
						<div class="views-element-container block block-views block-views-blockslider-block-1" id="block-views-block-slider-block-1">
							<div>
								<div class="view view-slider view-id-slider view-display-id-block_1 js-view-dom-id-e70376fdcf1722c7c8809861a200b8d3cdaf394b5883672947651d2e3a302c5d">
									<div class="view-content">
										<div>
											<div id="homeflexslider" class="flexslider optionset-default">
												<ul class="slides">
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/PL_Diwali%20package_800%20w%20x%20593%20h.jpg" width="800" height="593" alt="" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<p></p>
															<p></p>
															<p></p>
															<a href="https://bit.ly/3Sg7CwE" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-4.jpg" width="800" height="593" alt="rt pcr test for covid 19" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>COVID-19 RT PCR Test</h3>
															<p>The Gold Standard test for detecting Coronavirus</p>
															<a href="/know-about-covid-19/" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-2.jpg" width="800" height="593" alt="blood test at home near me" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>Worried about going out for a blood test?<br />Relax, we will come to you.</h3>
															<p>Book sample collection at the comfort of your home</p>
															<a href="/book-blood-test-online-in-india/" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-images-1.jpg" width="800" height="593" alt="Recovery status of covid 19" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption"><h3>Have you recovered completely from<br />COVID-19?</h3>
															<p>Know your recovery status with our COVID Recovery Panels</p>
															<a href="/book-blood-test-online-in-india/" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-3_0.jpg" width="800" height="593" alt="Health checkup packages" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>Choose from a range of comprehensive<br />full body health check-up packages.</h3>
															<p>for you and your family</p>
															<a href="/book-blood-test-online-in-india?sort_by=2" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-5.jpg" width="800" height="593" alt="Covid 19 antibody test" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>COVID-19 Antibody Test</h3>
															<p>Know your Antibody levels and the effectiveness of COVID vaccine</p>
															<a href="/book-blood-test-online-in-india/" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- hero section end -->
