{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}

<!-- main header section end -->
<div class="container">
    <div class="col-12">

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">{% trans "SPK Proyeksi UMKT" %}</h1>
            <p class="lead">{% trans "It's built with default Bootstrap components and utilities with little customization." %}</p>
            <p>Username: admin</p>
            <p>Password: tratap60</p>

            {% if user.is_authenticated %}

            {% else %}

            {% endif %}

        </div>

    </div>
</div>

{% endblock %}

{% block extra_jscript %}
{% endblock %}
