<!-- tests section start -->
<section class="tests-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
				<h2 class="heading-2">Test by Parts</h2>
				<div class="row">
					<div class="region region-test-by-body-parts">
						<div class="views-element-container block block-views block-views-blocktest-by-body-parts-block-1" id="block-views-block-test-by-body-parts-block-1">
							<div>
								<div class="view view-test-by-body-parts view-id-test_by_body_parts view-display-id-block_1 js-view-dom-id-fe9b18894d2450e6fd8e02bd9c34d2accbeb7f4504d1773d59f60700738c9eba">
									<div class="view-content">
										{% for item in categories %}
										<div class="views-row">
											<a target="_self" href="{{ item.title }}">
												<span class="img-bparts">
													<img src="{{ item.image_url }}" width="40" height="40" alt="Heart" loading="lazy" typeof="Image" class="image-style-thumbnail" />
												</span>
												<span class="title-bparts">Heart</span>
											</a>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-5 col-sm-12 offset-md-1 offset-lg-1" data-aos="fade-left" data-aos-duration="1000">
				<div class="popular-tests-box m-t-75">
					<h3 class="heading-small">Most Popular Tests</h3>
					<div class="region region-most-popular-test">
						<div id="block-mostpopulartestsblock" class="block block-unee-packages-tests block-popular-tests-block">
							{% for item in products %}
							<div class="popular-tests">
								<div class="icon">
									<img src="/assets/images/scope.png" class="img-fluid" alt="popular test">
								</div>
								<h6>{{ item.title }}</h6>
								<a href="{% url 'shop:add_to_cart' item.pk %}" class="btn"> Buy Now</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

		</div>		
	</div>
</section>
<!-- tests section end -->
