{% load static %}

<footer class="footer footer-sec mt-auto py-3 bg-light">
	<diV class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-12">
				<div class="region region-footer">
					<div id="block-footer" class="block block-superfish block-superfishfooter">
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-12">
			</div>
		</div>

		<div class="row copyright-sec">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>&copy; 2022 digiDzine. All Rights Reserved.</p>
			</div>
		</div>
	</diV>

</footer>
