{% load static %}

<footer class="footer-sec">

	<diV class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-12">
				<div class="region region-footer">
					<div id="block-footer" class="block block-superfish block-superfishfooter">
						<h2>Browse</h2>
						<ul id="superfish-footer" class="menu sf-menu sf-footer sf-vertical sf-style-none">
							<li id="footer-menu-link-contentc18e79b7-df4d-40fd-a436-ea71d467d067" class="sf-depth-1 sf-no-children">
								<a href="/about-us/" class="sf-depth-1" title="About US">About Us</a>
							</li>
							<li id="footer-menu-link-content9ecd00e0-dfbc-4ac4-8366-b9b7d6e36702" class="sf-depth-1 sf-no-children">
								<a href="/book-blood-test-online-in-india/" class="sf-depth-1 sf-external" title="Book a Test">Book a Test</a>
							</li>
							<li id="footer-menu-link-contentb0ce4025-5ab8-4c12-b679-fcc81ce5878a" class="sf-depth-1 sf-no-children">
								<a href="/contact-us/" class="sf-depth-1" title="Contact Us">Contact Us</a>
							</li>
							<li id="footer-menu-link-content953f05d6-f36b-4754-a877-056d7ac3407f" class="sf-depth-1 sf-no-children">
								<a href="/disclaimer/" class="sf-depth-1" title="Disclaimer">Disclaimer</a>
							</li>
							<li id="footer-menu-link-content83e84aec-08ec-469b-a33c-17e5561db1a2" class="sf-depth-1 sf-no-children">
								<a href="/privacy-policy/" class="sf-depth-1" title="Privacy Policy">Privacy Policy</a>
							</li>
							<li id="footer-menu-link-contente4ea9269-09a6-4972-94e8-03d5875b4dbf" class="sf-depth-1 sf-no-children">
								<a href="/terms-use/" class="sf-depth-1" title="Terms of Use">Terms of Use</a>
							</li>
							<li id="footer-menu-link-content96c05465-dadd-4c16-80ee-f5caa6374055" class="sf-depth-1 sf-no-children">
								<a href="/disclosures/financialstatements/" class="sf-depth-1">Disclosures</a>
							</li>
							<li id="footer-menu-link-content9e2c2e58-6fc7-4c64-90e8-77290baeb617" class="sf-depth-1 sf-no-children">
								<a href="/health-packages/" class="sf-depth-1 sf-external">Health Packages </a>
							</li>
							<li id="footer-menu-link-content340f8505-6e7c-4652-8119-2ed64ec663ea" class="sf-depth-1 sf-no-children">
								<a href="/sitemap/" class="sf-depth-1" title="Sitemap">Sitemap</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="region region-social-media">
					<div id="block-socialmediamenu-2" class="block block-superfish block-superfishsocial-media-menu">
						<h2>Follow us</h2>
						<ul id="superfish-social-media-menu" class="menu sf-menu sf-social-media-menu sf-horizontal sf-style-none">
							<li id="social-media-menu-menu-link-contenta801c84c-4025-4966-994d-3c7da5cbab75" class="sf-depth-1 sf-no-children">
								<a href="https://www.facebook.com/ShrinivasDiagnostics/" class="sf-depth-1 sf-external" target="_blank" title="facebook">facebook</a>
							</li>
							<li id="social-media-menu-menu-link-content507c1c60-c393-4395-8c8f-005fcdae8feb" class="sf-depth-1 sf-no-children">
								<a href="https://twitter.com/shrinivasdiagnostics" class="sf-depth-1 sf-external" target="_blank" title="twitter">Twitter</a>
							</li>
							<li id="social-media-menu-menu-link-contentaf35d8c5-5a38-41da-82ea-dbf3b82293bf" class="sf-depth-1 sf-no-children">
								<a href="https://www.linkedin.com/company/shrinivasdiagnostics-pvt-ltd" class="sf-depth-1 sf-external" target="_blank" title="linkedin">Linked in</a>
							</li>
							<li id="social-media-menu-menu-link-contente557aab0-f37c-44b8-b43e-0cb5f2113208" class="sf-depth-1 sf-no-children">
								<a href="https://www.instagram.com/shrinivasdiagnostics/" class="sf-depth-1 sf-external" target="_blank" title="Instagram">Instagram</a>
							</li>
							<li id="social-media-menu-menu-link-content93a11015-81f0-436c-9bbe-bfa8c42589e9" class="sf-depth-1 sf-no-children">
								<a href="https://www.youtube.com/channel" class="sf-depth-1 sf-external" title="Youtube">Youtube</a>
							</li>
						</ul>
					</div>
				</div>
				<hr>
				<h2>Get in Touch</h2>
				<ul>
					<li><strong>Call Us:</strong> xxxxx xxxxx</li>
					<li><strong>Mail Us:</strong> care@shrinivasdiagnostics.com</li>
				</ul>
			</div>
		</div>

		<div class="row copyright-sec">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>&copy; 2022 Shrinivas Diagnostics Pvt. Ltd. All Rights Reserved.</p>
			</div>
		</div>
	</diV>

	<div id="whatsapp" class="whatsapp">
		<a href="https://wa.me/919267990684?text=hi" title="whatsapp" target="_blank">
			<img src="/assets/images/whatsapp.png" alt="whatsapp" />
		</a>
	</div>

</footer>
