{% load static %}
{% load i18n %}
{% load account %}

<!-- main header section start -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow bg-light">
    <h5 class="my-0 mr-md-auto font-weight-normal text-center">
        {% if logos %}
            {% for object in logos %}
            <img class="logotenant" src="{{ object.logo_url }}">
            <a href="/" class="text-title">
                <span class="text-center">{{ titles.title }}</span>
            </a>
            {% endfor %}
        {% endif %}
    </h5>

    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i>&nbsp;{% trans "Home" %} <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/data/">
                            <i class="fa-sharp fa-solid fa-database"></i>&nbsp;{% trans "Data" %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/proyek/">
                            <i class="fas fa-table"></i>&nbsp;{% trans "Proyek" %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-tasks"></i>&nbsp;{% trans "Kegiatan" %}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="kegiatanMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="kegiatanMenu">
                            <a class="dropdown-item" href="{% url 'kegiatan:daftar_kegiatan' %}">
                                <i class="fas fa-tasks"></i></i>&nbsp;{% trans "Daftar Kegiatan" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'kegiatan:tambah_kegiatan' %}">
                                <i class="fas fa-tasks"></i></i>&nbsp;{% trans "Tambah Kegiatan" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'kegiatan:standar_deviasi_kegiatan' %}">
                                <i class="fas fa-tasks"></i>&nbsp;{% trans "Standar Deviasi Kegiatan" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'kegiatan:varians_kegiatan' %}">
                                <i class="fas fa-tasks"></i>&nbsp;{% trans "Varians Kegiatan" %}
                            </a>
                        </div>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-calendar-days"></i>&nbsp;{% trans "Waktu" %}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="kegiatanMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="kegiatanMenu">
                            <a class="dropdown-item" href="{% url 'kegiatan:daftar_estimasi_waktu' %}">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp;{% trans "Daftar Estimasi Waktu" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'kegiatan:estimasi_waktu' %}">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp;{% trans "Estimasi Waktu" %}
                            </a>
                        </div>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-dollar"></i>&nbsp;{% trans "Biaya" %}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="kegiatanMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="kegiatanMenu">
                            <a class="dropdown-item" href="{% url 'kegiatan:daftar_estimasi_biaya' %}">
                                <i class="fas fa-dollar"></i>&nbsp;{% trans "Daftar Estimasi Biaya" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'kegiatan:estimasi_biaya' %}">
                                <i class="fas fa-dollar"></i></i>&nbsp;{% trans "Estimasi Biaya" %}
                            </a>
                        </div>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user"></i>&nbsp;{% trans "Account" %}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                        {% if user.is_authenticated %}

                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="accountMenu">
                            <a class="dropdown-item" href="{% url 'accounts:account_list' %}">
                                <i class="fas fa-user"></i>&nbsp;{% trans "User List" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'accounts:account_profile' request.user.id %}">
                                <i class="fas fa-user-cog"></i>&nbsp;{% trans "My Account" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;{% trans "Logout" %}
                            </a>
                        </div>

                        {% else %}

                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="accountMenu">
                            <a class="dropdown-item" href="{% url 'accounts:account_list' %}">
                                <i class="fas fa-user"></i>&nbsp;{% trans "User List" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_signup' %}">
                                <i class="fas fa-user-plus"></i>&nbsp;{% trans "Register" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_login' %}">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;{% trans "Login" %}
                            </a>
                        </div>


                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="accountMenu">
                            <a class="dropdown-item" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;{% trans "Login" %}</a>
                        </div>

                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
